.unitlist_Card {
  background-color: rgba(39, 108, 211, 0.5);
  height: 50px;
  width: 90%;
  margin: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.unitlist_Card:hover {
  scale: 1.03;
  transition: 0.3s;
}

.unitList {
  display: flex;
  flex-direction: column;
  align-items: center;
}
