.unitlist_Card {
  background-color: #854215;
  height: 50px;
  width: 90%;
  margin: 5px;
  color: wheat;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}
.unitlist_Card:hover {
  scale: 1.03;
  transition: 0.3s;
}

.unitList {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./ChatGPT Image 24 cze 2025, 12_59_22.png");
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
}
