.services {
  width: 100vw;
  height: 100vh;
  background-image: url("./ChatGPT Image 23 cze 2025, 18_43_34.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services_bottomRight {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.services_imageItem {
  flex: 1 1 40%;
  box-sizing: border-box;
}

.services_imageItem img {
  width: 80%;
  height: auto;
}

.services_bottomLeft {
  width: 70vw;
  /* background-color: blue; */
}

.services_bottom {
  display: flex;
  height: 75vh;
}

.services_button {
  margin: 10vh 0;
  width: 265px;
  color: wheat;
  height: 100px;
  font-size: 30px;
  background-color: #854215;
  border-radius: 5px;
  border-color: transparent;
}

.services_button:hover {
  scale: 1.05;
  transition: 0.8s;
  color: rgb(0, 0, 0);
  background-color: lightbrown;
}

.services_buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
  height: 100%;
}
